<h1>Exchange Rate</h1>
<p>Currency</p>
<div class="form-group">
  <input [(ngModel)]="convertedAmount" type="text" class="form-control">
  <select [(ngModel)]="fromCurrency" class="custom-select">
    <option *ngFor="let currency of currencies" [value]="currency">
      {{currency}}
    </option>
  </select>
</div>
<div class="form-group">
  <span> = {{ calculate(convertedAmount, fromCurrency, toCurrency) | number: '1.2-2'}}
  </span>
  <select [(ngModel)]="toCurrency" class="custom-select">
    <option *ngFor="let currency of currencies" [value]="currency">
      {{currency}}
    </option>
  </select>
</div>
<app-chart [from]="fromCurrency" [to]="toCurrency"></app-chart>